*{
	margin: 0px;
	padding: 0px;
}
a{
	color: black !important;
}
a:hover{
	color: blue !important;
	text-decoration: none !important;
}
li{
	list-style-type: none;
}
.col-1, .col-2, .col-4{
	padding-right: 0px !important;
}
.col-10{
	padding-left: 0px !important;
}
.bac-col-black{
	background-color: #272b30 !important;
	border: solid 1px #272b30 !important;
}
.menu-bar{
	background-color: #f8f9fa !important;
	height: 100vh;
}
.menu-border{
	border-right: 1px solid #e2e3e4 !important;
}
.heightfoter{
	height: 40px;
}
.inp{
	background-color: #494e53 !important;
	color:#6a737a !important;
}
.btnhover:hover{
	background-color: #147bff !important;
}
.tablehover:hover{
	background-color: #28a745 !important;
}
.cost{
	height: 97vh;
}
.cost2{
	width: 97vh;
}